/* styling the main page begins */

body {

    font-family:'Roboto', sans-serif;
}
#main-page {

justify-content: center;

}
.welcome-page {
background-color: rgb(31, 17, 5);

}

main h1, p   {
text-align: center;
color: white;


}

.img1{

float: left;


}

.img2 {

float: right;

}

#start-button {
    
     left: 40%;
    justify-content: center;
}
/* styling the modal begins */
.modal-card-head {

 background-color: rgb(31, 17, 5);


}

.modal-card-foot {
    justify-content: center;

background-color: rgb(31, 17, 5);

}

.modal-card-body p {

 color:    rgb(31, 17, 5);


}

.smiley {

 float: left;

}

.modal-card-title {
    justify-content: center;
    font-weight:bolder;
}
/* styling the movie quiz*/
.new-background {

    background-color: rgb(31, 17, 5); ;
}

.container {
margin: 300px 500px;
padding: 50px 50px;
background-color: white;
border-radius: 8px;
justify-content: center;
color: rgb(31, 17, 5); 
border-image: url('/assets/images/popcorn.png') round;
border-image-slice:30; 
border-image-width: 30px 48px; 
font-weight: bold;

}

.container h1 {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(31, 17, 5); 
    

}

