/* styling the main page begins */

body {

    font-family:'Roboto', sans-serif;
}

.welcome-page {
background-color: rgb(31, 17, 5);

}

main h1, p   {
text-align: center;
color: white;


}

.img1{

float: left;


}

.img2 {

float: right;

}

#start-button {


    justify-content: center;
}
/* styling the modal begins */
.modal-card-head {

 background-color: rgb(31, 17, 5);


}

.modal-card-foot {
    justify-content: center;

background-color: rgb(31, 17, 5);

}

.modal-card-body p {

 color:    rgb(31, 17, 5);


}

.smiley {

 float: left;

}

.modal-card-title {
    justify-content: center;
    font-weight:bolder;
}
/* styling the movie quiz*/

.container {
margin: 300px 300px;
padding: 50px;
background-color:  rgb(31, 17, 5); ;
border-radius: 8px;
}
